.navbar {
    background-color: slategray;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    font-weight: bold;
    text-decoration: none;
    color: wheat;
}

.navbar a:hover {
    filter: drop-shadow(0 0 0.8rem black);
}

.list {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    list-style: none; 
}

